@import "tailwindcss";

@theme {
  --breakpoint-xs: 420px;
  --breakpoint-ss: 325px;
  --breakpoint-xss: 375px;

  --color-brand-100: #000070;
  --color-brand-200: #e1bd08;
  --color-brand-300: #ffd70b;
  --color-brand-400: #01008a;
  --color-brand-500: #f5f5f5;
  --color-brand-600: #ffd70b;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #050123;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Outfit", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

section {
  @apply py-10 md:py-16 lg:px-20 px-5;
}

.container {
  @apply mx-auto;
}

.row {
  @apply max-w-7xl mx-auto;
}

main {
  @apply mt-16;
}

.mainTitle {
  @apply text-3xl mb-1 font-bold;
}

.clip-custom {
  clip-path: ellipse(60% 50% at 50% 50%);
}

/* globals.css ou tailwind.config.css */
.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.swiper-pagination-bullet {
  background: #e1bd08 !important; /* vermelho claro */
  opacity: 0.5 !important;
  transition: transform 0.3s, opacity 0.3s !important;
}

.swiper-pagination-bullet-active {
  background: #ffd70b !important; /* vermelho escuro */
  transform: scale(1.3);
  opacity: 1 !important;
}

.vertical-timeline-element-icon {
  display: none !important;
}

.custom-swiper-button-prev,
.custom-swiper-button-next {
  @apply absolute transform z-10 top-[36%] lg:block hidden;
}

